* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --header-color: #FFF;
  --body-color: #F0F2F5;
  --notification-color: #E42645;
}

body {
  background-color: var(--body-color);
  font-family: 'Segoe UI', sans-serif;
}